<router-outlet></router-outlet>
<mat-card>
  <mat-card-content>
    <h2 class="example-h2">Login selection</h2>
    <section class="example-section">
      <button mat-raised-button (click)="onAll()">All</button>
      <button mat-raised-button (click)="onNone()">None</button>
      <mat-checkbox *ngFor="let login of model.allLogins" class="example-margin" [(ngModel)]="model.selectedLogins[login]">{{login}}</mat-checkbox>
    </section>
    <pre>{{model | json}}</pre>
  </mat-card-content>
</mat-card>
